.header {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
.header ul {
  margin: 0;
  list-style: none;
  overflow: hidden;
  padding: 0;
  display: flex;
}
.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}
.header .container {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 35px;
  height: 35px;
}
.logo-text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  display: none;
}
.header .menu {
  margin-left: 80px;
}
.header li a {
  font-size: 22px;
  color: #000000;
}
.header .menu-icon {
  display: none;
  margin-right: 20px;
}
.header .menu-icon {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
}
.header .menu-icon .nav-icon {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
}
.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
  background-color: #000000;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2 ease-out;
  position: absolute;
}
.header .menu-icon .nav-icon::after {
  top: -5px;
}
.header .menu-icon .nav-icon::before {
  top: 5px;
}
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

html {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.code {
  clip-path: ellipse(20px 20px);
  background: #212121;
  border: 25px solid #212121;
  color: white;
  font-size: 30px;
}

.button {
  display: inline-flex;
  align-items: center;

  padding: 15px 29px;
  background-color: #010101;

  text-decoration: none;
  color: white;

  border-radius: 2px;

  font-size: 22px;
  font-weight: 500;
}

.button img {
  margin-left: 20px;
}

.hero-banner {
}

.hero-banner .container {
  display: flex;
}
.hero-banner .container > div {
  width: 50%;
}

.hero-banner-texts {
  padding-top: 170px;
  padding-bottom: 100px;
}

.hero-banner-title {
  margin-bottom: 74px;
}

.hero-banner-description {
  margin-bottom: 110px;
}

.hero-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .header .menu {
    margin-left: 50px;
  }
  .header li a {
    font-size: 18px;
    color: #000000;
  }
}
@media screen and (max-width: 1280px) {
  .header .menu {
    margin-left: 30px;
  }
  .header li a {
    font-size: 16px;
    color: #000000;
  }
}
@media screen and (max-width: 1024px) {
  .hero-banner .container {
    flex-direction: column;
  }
  .hero-banner .container > div {
    width: 100%;
  }
  .hero-banner-texts {
    padding-top: 103px;
    padding-bottom: 82px;
  }
  .hero-banner-description {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 34px;
  }

  .hero-banner-title {
    margin-bottom: 30px;
  }

  p {
    font-size: 12px;
  }

  .button {
    padding: 12px 20px;
    font-size: 17px;
  }

  .button img {
    widht: 35px;
    height: 35px;
  }
  .header {
    padding-top: 20px;
  }
  .header .menu-icon {
    display: block;
  }
  .header ul {
    display: none;
  }
  .logo-text {
    display: block;
  }
  .header .container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 576px) {}
@media screen and (max-width: 420px) {}