.header {
  z-index: 1;
}
.header ul {
  margin: 0;
  list-style: none;
  overflow: hidden;
}
.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}
.logo {
  clip-path: ellipse(30px 30px);
  background: #212121;
  border: 5px solid #212121;
  color: white;
  margin-left: 25px;
}
.header .logo {
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}
.responsiv {
  position: absolute;
  margin-left: 95px;
  margin-top: 10px;
  color: black;
  font-size: 20px;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.header .menu-icon {
  padding: 20px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  margin-top: 35px;
}
.header .menu-icon .nav-icon {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
}
.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
  background-color: #000000;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2 ease-out;
  position: absolute;
}
.header .menu-icon .nav-icon::after {
  top: -5px;
}
.header .menu-icon .nav-icon::before {
  top: 5px;
}
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}
h1 {
  font-size: 60px;
  margin-left: 50px;
}
strong {
  clip-path: ellipse(20px 20px);
  background: #212121;
  border: 25px solid #212121;
  color: white;
  font-size: 30px;
}
.title {
  margin-top: 75px;
  margin-left: 50px;
}
.title p {
  font-size: 15px;
  margin-top: 4px;
}
.container {
  display: flex;
  background-color: #f4f4f4;
  height: auto;
}
.container-row {
  width: 50%;
}
.container-img {
  display: flex;
  height: auto;
  width: 50%;
  padding-left: 150px;
  background-color: #000000;
}
.img {
  width: 100%;
  height: auto;
}
.container-header {
  background-color: #f4f4f4;
  flex: none;
  position: absolute;
  width: 38%;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 15px;
  margin-right: 34px;
  background-color: #f8f5f5;
  border-radius: 5px;
  padding: 10px;
}
.img-profile {
  margin-top: 125px;
}
.function-p {
  margin-top: 52px;
}
.container-function {
  display: flex;
  background-color: #ffffff;
  margin-left: -145%;
  border-radius: 10px;
  margin-top: 415px;
  margin-bottom: 160px;

  font-size: 16px;
  width: 86%;
}
.melo {
  position: absolute;
  width: 43%;
  height: 714px;
  margin-top: 152px;
}
.container-h1 {
  padding-top: 85px;
}
@media (min-width: 1163px) {
  .header li {
    float: left;
  }
  .header li a {
    margin-top: 20px;
    font-size: 1.2vw;
    color: #000000;
  }
  .header .menu {
    clear: none;
    max-height: 240px;
  }
  .header .menu-icon {
    display: none;
  }
  .responsiv {
    color: transparent;
  }
}
@media (max-width: 1060px) {
  .container {
    flex-direction: column;
  }
  .container-function {
    margin-left: -115%;
  }
  .container-header {
    width: 95%;
  }
  .container-row {
    width: 100%;
  }
  .container-img {
    width: auto;
  }
}
@media (max-width:515px) {
.melo {
  width: 77%;
  height: 760px;
  margin-top: 100px;
  margin-left: -55px;
}
.container-function {
  margin-left: -155%;
  width: 138%;
}
}